.p{

	font family: verdana;/*tipo de letras*/
	text-align: justufy;/*alineación del texto*/
	color: red; /*color de la fuente*/
	font-size:24 px;/*tamaño de la fuente*/
	font-style: italic; /*estilo */
	font-weight: bold; /* negrito o fuerte*/
}

.body{
	background-color: lightblue; /*color de fondo del body*/ 
}

.h1{

	color: white;
	font-weight: bold;/* negrito o fuerte*/
	text-align: center;/*alineación*/
}

.miclase{
	text-align: center;
	font-family: cursive;
	font-weight: bold;
}